<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <title>Simple ToDo app in Angularjs that saves to localstorage</title>
      <link rel="stylesheet" href="css/style.css">  
</head>

<body>
  <body ng-app="todo-app">
<div class="container" ng-controller="ToDoController">

	<header class="app-header">
		<h1 class="app-title">{{ title }}</h1>
		<h1 class="app-headline">{{ headline }}</h1>
	</header>

	<section class="app-body">
		<section class="archive-control">
			<span>{{ getRemainingItems() }} of {{ todos.length }} remaining</span>
			<p>[ <a href="" data-ng-click="archive()">Remove Completed Items</a> ]</p>
		</section>

		<ul class="unstyled">
			<li ng-repeat="todo in todos track by $index">
				<input type="checkbox" ng-model="todo.done" ng-change="stateChanged(todo)">
				<span class="done-{{ todo.done }}">{{ todo.text }}</span>
			</li>
		</ul>

		<form ng-submit="addToDo()" class="todo-form">
			<input type="text" ng-model="toDoText" placeholder="Enter new ToDo item" />
			<br />
			<input type="submit" value="Add Task" />
		</form>
	</section>
</div>
  <script src='http://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.3/angular.min.js'></script>

    <script src="js/index.js"></script>

</body>
</html>
